/*PEN STYLES*/
* {
  box-sizing: border-box;
}

body {
  background: rgba(243,244,245,1);
  margin: 2rem;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  /*height: 200px;*/
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: rgb(85, 119, 38);
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

/* GREEN */
.blog-card.green p:first-of-type:before{
	background: rgb(85, 119, 38) !important;
}
.blog-card.green .photo{
	background-color:rgb(85, 119, 38) !important;
}



.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #ccc;
  width: 300px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
	width:100%;
    /*max-width: 1200px;*/
  }

  .blog-card .description {
    flex-basis: 100%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.right {
    flex-direction: row-reverse;
  }
  .blog-card.right .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
}
